# Database
POSTGRES_DB=hypanel
POSTGRES_USER=hypanel
POSTGRES_PASSWORD=changeme

# Service
BACKEND_PORT=8080
FRONTEND_PORT=3000
NEXT_PUBLIC_API_BASE_URL=http://localhost:8080/api/v1
JWT_SECRET=replace-me
ADMIN_BOOTSTRAP_EMAIL=admin@example.com
ADMIN_BOOTSTRAP_PASSWORD=ChangeThisNow123!

# HYSTERIA
HYSTERIA_API_PORT=25413
HYSTERIA_API_TOKEN=replace-me
HYSTERIA_SERVER=yxd.dpdns.org
HYSTERIA_PORT=443
HYSTERIA_SNI=yxd.dpdns.org
HYSTERIA_ALPN=h3
HYSTERIA_OBFS=salamander
HYSTERIA_OBFS_PASSWORD=replace-me
HYSTERIA_SKIP_CERT_VERIFY=false
SUBSCRIPTION_BASE_URL=http://localhost:8080/api/v1/subscriptions
