# PostgreSQL 数据库名
POSTGRES_DB=hypanel

# PostgreSQL 用户名
POSTGRES_USER=hypanel

# PostgreSQL 密码
POSTGRES_PASSWORD=changeme

# 后端服务端口
BACKEND_PORT=8080

# 前端服务端口
FRONTEND_PORT=3000

# 前端访问 API 的基础路径（如果单机部署，可以只配置这一个，忽略下面两个参数）
NEXT_PUBLIC_API_BASE_URL=/api/v1

# 用户端 API 前缀（用户服务入口）
NEXT_PUBLIC_USER_API_BASE_URL=https://user.example.com/api/v1

# 管理端 API 前缀（管理员服务入口）
NEXT_PUBLIC_ADMIN_API_BASE_URL=https://admin.example.com/api/v1

# JWT 签名密钥
JWT_SECRET=replace-me

# 初始管理员邮箱（首次启动创建的管理员账户）
ADMIN_BOOTSTRAP_EMAIL=admin@example.com

# 初始管理员密码（管理员密码）
ADMIN_BOOTSTRAP_PASSWORD=ChangeThisNow123!

# Hysteria API 端口（面板获取流量数据用）
# See https://v2.hysteria.network/zh/docs/advanced/Full-Server-Config/#api-http
HYSTERIA_API_PORT=25413

# Hysteria API Token（⚠️用于鉴权，必须修改）
# See https://v2.hysteria.network/zh/docs/advanced/Full-Server-Config/#api-http
HYSTERIA_API_TOKEN=replace-me

# Hysteria 服务域名（用户客户端连接地址）
HYSTERIA_SERVER=your-server.example.com

# Hysteria 监听端口（通常用 443）
HYSTERIA_PORT=443

# TLS SNI（必须与证书域名一致）
HYSTERIA_SNI=your-server.example.com

# ALPN 协议（h3 表示 HTTP/3 / QUIC）
HYSTERIA_ALPN=h3

# OBFS 混淆类型（用于流量伪装）
HYSTERIA_OBFS=salamander

# OBFS 混淆密码（和 Hsyteria 中配置的一致）
HYSTERIA_OBFS_PASSWORD=replace-me

# 是否跳过证书校验
HYSTERIA_SKIP_CERT_VERIFY=false

# 订阅链接基础地址（生成客户端配置用，通常用户只需在客户端软件中配置此链接即可拉取到配置文件）
SUBSCRIPTION_BASE_URL=https://your-server.example.com/api/v1/subscriptions